.player {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 7px 29px 0px;
}

.controls {
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  height: 40px;
  width: 40px;
  background-color: #282828;
  border: none;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  margin: 0 5px;
}

.play-button {
  height: 50px;
  width: 50px;
  font-size: 30px;
}

.play-button * {
  margin-left: 4px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: rgba(48, 48, 48, 0.4) 0px 2px 15px 0px;
}

.control-progress input {
  width: 100%;
}
