.player {
  width: 400px;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  background-image: linear-gradient(to top, #1d1e2f, #313252);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.controls {
  margin: 10px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 5px;
}

.play-button {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-image: linear-gradient(45deg, #fc836c, #6064f5);
}

button:hover {
  cursor: pointer;
}

.control-progress input {
  width: 100%;
}

.music-title {
  color: white;
  margin-bottom: 5px;
}

.music-artist {
  margin: 0;
  color: rgba(255, 255, 255, 0.54);
}

.music-image {
  width: 100%;
  border-radius: 10px;
}
